body {
  margin: 0;
  min-height: 100dvh;
  line-height: 1;
  overflow: visible;
}

.ba {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  background-color: var(--color-background);
  color: var(--color-text);
}
h1, p {
  margin: 0;
}
p {
  line-height: 1.2rem;
}
main {
  color: var(--color-text);
}
.ba-nav-menu-button .ba-data {
  font-weight: bold;
}
.ba-data {
  color: var(--color-text);
  font-weight: 400;
  line-height: 1.2rem;
  
}
.justify-text {
  text-align: justify;
}
.ba-description {
  color: var(--color-description-text);
}
.small-text {
  justify-content: start;
  font-size: 0.8rem;
  font-style: italic;
  color: var(--color-description-text);
}
.ba-start-row {
  display: flex;
  justify-content: start;

}


.main-layout {
  display: grid;
  grid-template-columns: 1fr 1400px 1fr;
  grid-template-rows: var(--size-nav-bar) 1fr auto;
  grid-template-areas: "header header header"
  "nav main aside"
  "footer footer footer";
  min-height: 100dvh;
  color: var(--color-nav-text);
  background-image: url('@/assets/background-image.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-layout>header {
  grid-area: header;
  position: fixed;
  width: 100%;
  height: var(--size-nav-bar);
  top: 0;
  z-index: 100;
  background-color: var(--color-nav-background);
  height: var(--size-nav-bar);
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 20rem 1fr 20rem;
  gap: 1rem;
  color: var(--color-nav-text);

}
.main-layout>main {
  grid-area: main;
}

.ba-main {
  margin: 1rem;
} 

.ba-main-cover {
  margin: 5rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.ba-cover-form {
  width: 35rem;
  background-color: var(--color-opacity-background);
  padding: 1rem 2rem 4em 2rem;
}

.ba-cover-text {
  padding-bottom: 1rem;
  color: var(--color-text);
}
.ba-cover-text h1{
  padding: 1rem;
}
.ba-cover-text p{
  padding: 1rem;
}
.ba-cover-buttons {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.ba-main-nav-button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.ba-main-nav-button i {
  margin-left: 1rem;
  background: linear-gradient(to right, var(--color-nav-background-start), var(--color-nav-background-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ba-main-nav-button:hover,
.ba-main-small-nav-button:hover {
  cursor: pointer;
  background-color: var(--color-nav-background-hover);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.ba-main-small-nav-button {
  height: var(--size-nav-bar);
  width: 4rem;
  display: grid;
  align-items: center; 
  justify-self: end;
}

.ba-nav-menu {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  align-items: center;
}

.ba-page-header {
  background-color: var(--color-background);
}
.ba-row-flex {
  background-color: var(--color-background);
  display: flex;
  gap: 0.5rem;
}
.ba-main-form {
  display: grid;
  background-color: var(--color-background);
  grid-template-columns: 1fr;
  position: relative;  
}


.ba-main-form>.ba-sticky-header {
  position: sticky;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  top: calc(var(--size-row-height) + 1rem);
  padding: 0.75rem;
  background-color: var(--color-background);
  border-bottom: 1px solid var(--color-nav-border);
  height: var(--size-row-height);
}
.ba-main-form>.ba-sticky-header>h2 {
  padding: 0;
  margin: 0;
}
.ba-row {
  width: 100%;
  background-color: var(--color-background);
  padding: 1.5rem 3rem;
  position: static;
}
.ba-row-2 {
  width: var(--size-row-2);
  background-color: var(--color-background);
  padding: 1.5rem 3rem;
  position: static;
}

.ba-nav-menu-button {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center; 
  width: 12rem;
  height: var(--size-nav-bar);
  padding: 1rem;
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}

.ba-nav-menu-button:hover {
  cursor: pointer;
  background-color: var(--color-nav-background-hover);
  color: var(--color-nav-text-hover);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}


.main-layout > header .ba-main-nav-button h2 {
  transition:  color 0.2s;
}
.main-layout > header .ba-main-nav-button:hover h2{
  color: var(--color-nav-text-hover)
}
.ba-nav-menu-button.selected,
.ba-main-nav-button.selected {
  cursor: pointer;
  background-color: var(--color-nav-background-hover);
  color: var(--color-nav-text-hover);
  border-bottom: 2px solid var(--color-nav-border);
}

.ba .ba-main-cover .main-logo::before {
  font-size: 225px;
  margin: 2rem;
  background: linear-gradient(to left, var(--color-nav-background-start), var(--color-nav-background-end));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ba-section {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-background);
}
.ba-section-2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-background);
}
.global-loader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--color-opacity-loader-background);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}
.models-card-wrapper {
  display: grid;
  height: auto;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  padding: 1rem;
  background-color: var(--color-background);
}

.ba-form-label {
  margin: 1rem 0 0 0;
}
.knob-card p {
  margin: 1rem;
}
.flex-knob-block {
  display: flex;
  gap: 1.5rem;
  justify-content: center;
}

.card-description {
  padding: 1rem;
  border: 2px solid var(--color-border);
  border-radius: 15px;
}

.breadcrumbs-item a {
  font-size: 1.2rem;
  font-weight: bold;
  margin-right: 0.5rem;
  margin-left: 0.5rem;
  color: var(--color-nav-text);
  text-decoration: none;
}
.breadcrumbs-item {
  margin-top: 0.2rem;
}
.breadcrumbs {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
}

.breadcrumb-separator {
  margin-right: 0.2rem;
  margin-left: 0.2rem;
  margin-top: 0.2rem;
}

.text-primary {
  color: var(--color-nav-text);
  font-weight: bold;
}
.versus {
  color: var(--color-versus);
  font-weight: bold;
  font-size: 1.2rem;
  margin: 0 0.5rem;
}

.ba-teams-grid {
  padding: 1rem;
  display: grid;
  width: auto;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
}

.team-card {
  border: 1px solid var(--color-border);
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 15px;
}
.team-card:hover {
  box-shadow: 0 0 11px var(--color-box-shadow-orange);
  /* background-color: var(--color-nav-background-hover); */
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}
.team-logo {
  width: 100px;
  height: 100px;
}
.team-name {
  font-size: 1.5rem;
  font-weight: bold;
}
.team-abbr {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: var(--color-text);
}
.team-conference {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  font-weight: bold;
}
.team-conference.east {
  color: var(--color-east-coast-text);
}
.team-conference.west {
  color: var(--color-west-coast-text);
}
.team-description {
  font-size: 0.9rem;
  margin-bottom: 1rem;
}
.team-link {
  color: var(--color-nav-text);
  text-decoration: none;
}

.card {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  box-shadow: 0 0 11px rgb(35, 1, 69);
  border-radius: 4px;
  padding: 1rem;
  cursor: pointer;
  background-color: var(--color-area);
  transition: transform 0.1s; 
  transform-style: preserve-3d;
}
.card:hover {
  box-shadow: 0 0 11px var(--color-box-shadow-orange);
}

.card-header {
font-weight: bold;
margin-bottom: 0.5rem;
}
.card-content {
  min-height: 300px;
}

.card-footer {
margin-top: 0.5rem;
}
.knob-card {
  margin-bottom: 2rem;
}
.card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12rem;
  align-items: center;
}
.card-image-overlay {
  width: 90%;
  height: 101%;
  border: 2px solid var(--color-border);
  background-image: url('../assets/back-static.png');
}
.card:hover .card-image-overlay {
  background-image: url('../assets/back.gif');
}

.divider {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.team-home-info>.flex>i {
  margin: 0.5rem;
}
.color-brand-icon {
  color: var(--color-brand-icon)
}
.team-home-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}
.team-home-info .team-conference {
  margin: 0;
}
.flex {
  display: flex;
  align-items: center;
}
.bold {
  font-weight: bold;
}
.model-image {
  /* background-image: url('../assets/back.gif'); */
  background-color: rgb(48, 97, 97);
  padding: 0.7rem;
  max-width: 560px;
  max-height: 560px;
  border-radius: 15px;
}

.models-chart {
  margin: 1rem;
  padding: 1rem;
  border: 2px solid var(--surface-border);
  border-radius: 15px;
}
.games-viewer {
  display: grid;
  justify-items: center; 
  align-items: center; 
  grid-template-columns: 1fr auto 1fr;
}
.games-viewer .recent-games {
  justify-self: start; 
  align-items: start;
}
.games-viewer .upcoming-games {
  justify-self: end; 
  align-items: end;
}
.recent-games,
.upcoming-games {
    width: 700px;
}

.breadcrumbs-item:hover a {
  cursor: pointer;
  color: var(--color-nav-text-hover);
  transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
}